{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1>This is About page</h1>
            <p>I am lead dev mobile app at Hayange commune</p>
            <p>I will gain in popularity in my domain few months</p>
        </div>
    </div>

</div>
{{end}}